<mat-sidenav-container fullscreen>
    <!-- Sidebar Menu -->
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
      <mat-toolbar>
        <span>Menu</span>
        <span class="spacer"></span>
        <!-- Close button inside the sidenav -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <!-- Add your sidenav content here -->
    </mat-sidenav>
  
    <!-- Top toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-button>LOGOUT</button>

    </mat-toolbar>

    <div class="container"> 
        <router-outlet></router-outlet>
    </div>




  </mat-sidenav-container>
  
  <!-- Routing will happen here -->
  <router-outlet></router-outlet>
  